.checkout {

  &__container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 32px;
  
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
  }

  &__form-left {
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: 608px;
    width: 100%;
    padding: 16px 8px;
  }

  &__form-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 36px;
  }

  &__form-row {
    display: flex;
    gap: 31px;
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 100%;

    label {
      font-size: 16px;
      font-weight: 500;
      color: #000000;
    }

    input, select {
      padding: 15px 15px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-weight: 400;
    }

    input#additional{
      padding: 15px 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 400;
      margin-top: 24px;
    }
  }

  &__form-right {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 608px;
    padding: 0 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 533px;
    width: 100%;
  }

  &__order-summary {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 40px;
    border-bottom: 1px solid #D9D9D9;
  }

  &__order-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      font-size: 24px;
      font-weight: 500;
      color: #000000;
    }
  }

  &__order-item {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
  }

  &__order-item-first {
    display: flex;
    gap: 16px;
  }

  &__order-item-name {
    font-size: 16px;
    font-weight: 500;
    color: #9f9f9f;
  }

  &__order-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__order-row {
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
      font-size: 16px;
      font-weight: 400;
      color: #000000;
    }

    .checkout__total-price {
      font-size: 24px;
      font-weight: 700;
      color: #b88e2f;
      margin: 0;
    }
  }

  &__payments {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
  }

  &__payment-method {
    font-size: 16px;
    font-weight: 400;
    color: #9f9f9f;
    margin-bottom: 12px;

    label {
      display: inline-flex;
      align-items: center;
      gap: 12px;
      
    }

  }

  &__payment-label--selected {
    color: #9F9F9F;
    font-weight: 400;
  }

  

  &__payment-desc {
    // display: none;  
    margin-top: 20px;
    line-height: 1.5;
    font-size: 16px;
    color: #9F9F9F;
    font-weight: 300;

    .active {
      display: block;
    }
  }

  &__privacy-note {
    margin-bottom: 32px;

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;

      strong {
        font-weight: bold;
      }
    }
  }

  &__place-order {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 318px;
    width: 100%;
    margin: 0 auto;
    border: none;
  }


  &__place-order-btn {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    padding: 12px 80px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease;

    &:hover {
      background-color: #000000;
      color: #ffffff;
    }
  }

  
  
}