.auth {
  width: 100%;
  height: 100vh;
  background-color: #fff3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__container {
    width: 1000px;
    height: 600px;
    background-color: #fff;
    display: flex;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.8s ease;
  }

  &__background {
    flex: 1;
    transition: transform 0.8s ease;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__forms-wrapper {
    width: 100%;
    max-width: 485px;
    display: flex;
    flex-direction: row-reverse;
    transition: transform 0.8s ease;
  }

  &__forms {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    transform: translateX(0%);
    transition: transform 0.8s ease;
  }

  &__form-panel {
    width: 100%;
    padding: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
  }

  &__form-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__form-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #dddcdcb5;
    padding: 40px 32px 16px;
    border-radius: 12px;
    height: 100%;

    input {
      padding: 12px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    button {
      background-color: #b58e2d;
      color: white;
      padding: 12px;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;
      border: 1px solid #fff;

      &:hover {
        background-color: white;
        color: #b58e2d;
        border: 1px solid #b58e2d;
      }
    }
  }

  &__switch-text {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    color: #9f9f9f;
    text-align: center;

    span {
      color: #b58e2d;
      cursor: pointer;
      font-size: 13px;
      font-weight: 500;
      margin-left: 4px;
      font-family: sans-serif;
    }
  }

  &--login {
    .auth__background {
      transform: translateX(100%);
    }

    
  }
}
