.register-page {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding:  80px;
  background-color: #fff3e3;
  border-bottom: 1px solid #9f9f9f47;
}

.register {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);

  &__background {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      object-fit: cover;
    }
  }

  &__content {
    width: 100%;
    max-width: 393px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    font-family: Poppins;
    margin-bottom: 20px;
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 40px 33px 16px;
    height: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    

    input {
      max-width: 300px;
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    label {
      display: block;
      font-size: 16px;
      font-weight: 600;
      font-family: Poppins, sans-serif;
      margin-bottom: 4px;
    }
  }

  &__button {
    max-width: 320px;
    width: 100%;
    background-color: #b58e2d;
    color: white;
    padding: 12px 0;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: #ffff;
      color: #b58e2d;
      border: 1px solid #b58e2d;
    }
  }

  &__redirect {
    text-align: center;
    font-size: 14px;
    color: #888;
    display: flex;
    flex-direction: column;
  }

  &__redirect-link {
    color: #b58e2d;
    font-weight: 500;
  }
}