@media (max-width: 768px) {
  .shop-page-container {
    width: 100%;
    max-width: 1440px;
  }

  .toolbar-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .toolbar {
    padding: 32px;
  }

  .shop-toolbar {
    padding: 0;
    margin: 0 0 24px 0;
  }

  .shop-toolbar-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .shop-toolbar-right {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-content: flex-start;
  }

  .toolbar-show,
  .toolbar-sort span {
    margin: 0;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .features {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .feature-wrap {
    gap: 30px;
  }

  .feature-item img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .sort-select {
    padding: 10px;
  }
}
